/* App-wide */

body 
{
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.centered
{
    float:none;
    margin:0 auto;
}

/* Header */
.page-header
{
    padding-left: 50px;
}

/* Footer */
.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #eee;
}

/* Scroll bar */
.scrollbar-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar-style::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar-style::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: 	#A9A9A9;
}

/* Layout */
.list-inline {
  white-space:nowrap;
}

/* Cards */
.heading-card-item
{
    width:175px;
    height:175px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebebeb;
}

.card-list
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:200px;
    width:100%;
    padding: 0 15px;
    margin-top:10px;
}

.card-item
{
    padding:0;
    width:125px;
    height:175px;
}

.card-section
{
    margin-top:20px;
}

.card-img 
{
    width:125px;
    height:175px;
}

.card-item:hover {
    opacity: 0.8;

    -webkit-transition: opacity 0.15s ease-in;
    -moz-transition: opacity 0.15s ease-in;
    -o-transition: opacity 0.15s ease-in;
    -ms-transition: opacity 0.15s ease-in;
    transition: opacity 0.15s ease-in;
}

/* Player page */
.player-img 
{
    margin-top: 25px;
    width:200px;
    height:auto; 
}

.player 
{
    margin-top: 10px;
}